<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>Button with   <code>--transition: background-color 0.5s ease</code> and simple <code>--background</code> colors</div>
  <ion-button class="color">Button</ion-button>

  <div>Button with   <code>--transition: background-color 0.5s ease</code> and  <code>--background</code> linear-gradient</div>
  <ion-button class="gradient">Button</ion-button>

</ion-content>
