.color {
  --background: orange;
  --color: var(--wr-color-white);
  --transition: background-color 0.5s ease;

  &:hover {
    --background: blue;
  }
}

.gradient {
  --background: linear-gradient(to right, orange, blue);
  --color: var(--wr-color-white);
  --transition: background-color 0.5s ease;

  &:hover {
    --background: linear-gradient(to right, blue, orange);
  }
}
